In [4]:
import pandas as pd
import numpy as np

In [38]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-26 00:41:07--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv.2’

housing.csv.2       100%[===================>]   1.36M  1.23MB/s    in 1.1s

2023-09-26 00:41:09 (1.23 MB/s) - ‘housing.csv.2’ saved [1423529/1423529]

In [5]:
df = pd.read_csv('housing.csv')
filtered_data = df[df['ocean_proximity'].isin ( ['<1H OCEAN' ,'INLAND']) ] 
missing_values = filtered_data.isnull().sum()

column_with_missing_values = missing_values[missing_values > 0].index[0]

print(column_with_missing_values)

total_bedrooms

In [6]:
median_population = filtered_data['population'].median()
print(median_population)

1195.0

In [9]:
#let's get the ids first
n = len(filtered_data)
idx = np.arange(n)

np.random.seed(42)
np.random.shuffle(idx)
idx

array([15183,  4469,  9316, ...,  5390,   860,  7270])

In [10]:
n_validation = int(0.2*n)
n_testing =  int(0.2*n)
n_training = 1-n_validation - n_testing

In [11]:
df_train = df.iloc[idx[:n_training]]
df_val = df.iloc[idx[n_training:n_training+n_validation]]
df_test = df.iloc[idx[n_training+n_validation:]]

df_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
15183,-117.15,33.02,4.0,15029.0,2279.0,5613.0,1696.0,7.2731,450400.0,NEAR OCEAN
4469,-118.16,34.09,50.0,1568.0,302.0,1093.0,333.0,3.1442,162100.0,<1H OCEAN
9316,-122.46,37.98,10.0,1325.0,189.0,427.0,162.0,12.0933,500001.0,NEAR BAY
4983,-118.30,34.00,52.0,1686.0,377.0,982.0,356.0,2.0958,116400.0,<1H OCEAN
13154,-121.50,36.81,20.0,1345.0,230.0,731.0,217.0,4.2333,363300.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
15225,-117.26,33.06,11.0,2660.0,352.0,1226.0,366.0,7.6832,319800.0,NEAR OCEAN
5231,-118.24,33.93,32.0,779.0,201.0,861.0,219.0,1.0625,89800.0,<1H OCEAN
2076,-119.83,36.75,33.0,662.0,183.0,607.0,181.0,1.3929,55600.0,INLAND
4103,-118.39,34.15,36.0,2696.0,713.0,905.0,659.0,3.1146,373500.0,<1H OCEAN
7493,-118.24,33.92,42.0,328.0,100.0,605.0,87.0,2.4464,97400.0,<1H OCEAN

In [12]:
df_train=df_train.reset_index(drop=True)
df_val=df_val.reset_index(drop=True)
df_test=df_test.reset_index(drop=True)
df_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-117.15,33.02,4.0,15029.0,2279.0,5613.0,1696.0,7.2731,450400.0,NEAR OCEAN
1,-118.16,34.09,50.0,1568.0,302.0,1093.0,333.0,3.1442,162100.0,<1H OCEAN
2,-122.46,37.98,10.0,1325.0,189.0,427.0,162.0,12.0933,500001.0,NEAR BAY
3,-118.30,34.00,52.0,1686.0,377.0,982.0,356.0,2.0958,116400.0,<1H OCEAN
4,-121.50,36.81,20.0,1345.0,230.0,731.0,217.0,4.2333,363300.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
9409,-117.26,33.06,11.0,2660.0,352.0,1226.0,366.0,7.6832,319800.0,NEAR OCEAN
9410,-118.24,33.93,32.0,779.0,201.0,861.0,219.0,1.0625,89800.0,<1H OCEAN
9411,-119.83,36.75,33.0,662.0,183.0,607.0,181.0,1.3929,55600.0,INLAND
9412,-118.39,34.15,36.0,2696.0,713.0,905.0,659.0,3.1146,373500.0,<1H OCEAN
9413,-118.24,33.92,42.0,328.0,100.0,605.0,87.0,2.4464,97400.0,<1H OCEAN

In [13]:
y_train = np.log1p(df_train.median_house_value.values)
y_val = np.log1p(df_val.median_house_value.values)
y_test = np.log1p(df_test.median_house_value.values)

In [14]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [27]:
df_train['ocean_proximity']=df_train['ocean_proximity'].str.lower().str.replace('_','')
df_val['ocean_proximity']=df_val['ocean_proximity'].str.lower().str.replace('_','')
df_test['ocean_proximity']=df_test['ocean_proximity'].str.lower().str.replace('_','')
df_train['ocean_proximity']

0       nearocean
1        <1hocean
2         nearbay
3        <1hocean
4          inland
          ...
9409    nearocean
9410     <1hocean
9411       inland
9412     <1hocean
9413     <1hocean
Name: ocean_proximity, Length: 9414, dtype: object

In [36]:
df_train['near_ocean'] =  df_train['ocean_proximity'] == 'nearocean' 
df_val['near_ocean'] =  df_val['ocean_proximity'] == 'nearocean' 
df_test['near_ocean'] =  df_test['ocean_proximity'] == 'nearocean' 
del df_train['ocean_proximity']
del df_val['ocean_proximity']
del df_test['ocean_proximity']

In [38]:
df_train.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        110
population              0
households              0
median_income           0
near_ocean              0
dtype: int64

In [39]:
df_train_zero = df_train.fillna(0)
df_val_zero = df_val.fillna(0)
df_test_zero = df_test.fillna(0)

In [54]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def train_and_evaluate(X_train, y_train , X_val, y_val):
   
    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    rmse = np.sqrt(mean_squared_error(y_val, y_pred))
    return rmse

zero_rmse =train_and_evaluate(df_train_zero,y_train,df_val_zero,y_val)
round(zero_rmse,2)

0.35

In [51]:
df_train_mean = df_train.fillna(df_train['total_bedrooms'].mean())
df_val_mean = df_val.fillna(df_val['total_bedrooms'].mean())
df_test_mean = df_test.fillna(df_test['total_bedrooms'].mean())

In [55]:
mean_rsme =train_and_evaluate(df_train_mean,y_train,df_val_mean,y_val)
round(mean_rsme,2)

0.34

So here filling NA with mean was better in terms of the RMSE

In [63]:
df_train_val_zero =pd.concat([df_train_zero, df_val_zero])
y_train_val = np.concatenate( [y_train,  y_val])

In [67]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

def train_and_evaluate(X_train, y_train , X_val, y_val,alpha):
   
    model = Ridge(alpha=alpha)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    rmse = np.sqrt(mean_squared_error(y_val, y_pred))
    return rmse

alphas = [0, 0.000001, 0.0001, 0.001, 0.01, 0.1, 1, 5, 10]
min_rsme = 10
min_alpha =100
for alpha in alphas:
    zero_rmse =train_and_evaluate(df_train_val_zero,y_train_val,df_test_zero,y_test,alpha)
    print(alpha,zero_rmse)
    if zero_rmse < min_rsme:
        min_rsme = zero_rmse
        min_alpha = alpha

print(min_alpha,min_rsme)

0 0.33878209839072665
1e-06 0.33878209839251266
0.0001 0.33878209856933306
0.001 0.3387821001767966
0.01 0.3387821162518928
0.1 0.3387822770489417
1 0.33878388962303996
5 0.338791157347451
10 0.33880047082745124
0 0.33878209839072665